c19-data-reporting-adf/pipeline/pl_ingest_population_dataa.json
{
	"name": "pl_ingest_population_dataa",
	"properties": {
		"activities": [
			{
				"name": "Check if file exists",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_population_raw_gz",
						"type": "DatasetReference"
					},
					"timeout": "0.00:02:00",
					"sleep": 10,
					"minimumSize": 1024
				}
			},
			{
				"name": "Check if colums are complete",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Check if file exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_population_raw_gz",
						"type": "DatasetReference"
					},
					"fieldList": [
						"columnCount",
						"size",
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings",
						"skipLineCount": 0
					}
				}
			},
			{
				"name": "If column count matches",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check if colums are complete",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Check if colums are complete').output.columnCount,13)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Send email",
							"description": "Dummy activiey",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "www.kamyab.tech",
								"method": "GET"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy Population Data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_population_raw_gz",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_population_rs_tsv",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Delete Source File",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Copy Population Data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_population_raw_gz",
									"type": "DatasetReference"
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "ls_adls_c19reportingdl",
										"type": "LinkedServiceReference"
									},
									"path": "raw"
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"concurrency": 1,
		"annotations": []
	}
}